/* Under er css for tekst og bilder */

#logo {
    width: 200px;
}

#navigasjon {
    font-size: 30px;
    cursor: pointer;
    display: flex;
    justify-content: left;
    padding: 2%;
    /* position: absolute;
    top: 0px;
    left: 0px; */
  }

.grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto;
    padding: 10px;
    align-items: center;
}
  
.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-item p {
    font-size: 20px;
}
.bold{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5%;
}

.flex {
    display: flex;
    justify-content: center;
    gap: 25%;
    padding: 10px;
    margin-right: 20%;
    margin-left: 20%;
}


#p1
{
    padding: 5px;
    font-size: large;
    color: green;
}

#p2
{
    padding: 5px;
    font-size: large;
    color: red;
}


/* Under er css for navigasjonsbaren */



body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 10%;
    left: 0;
    background-color: rgb(255, 255, 225, 50%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    
    transition: 0.3s;
    vertical-align: middle;
  }
  
  .sidenav a:hover {
    color: #b172ec;
  }

  .sidenav img {
      width: 50%;
      margin-left: 15%;
      transition: 0.3s;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
    
  .sidenav .menuicon {
      max-width: 2em;
      left: 10px;
      padding: 1em;
      vertical-align: middle;
  }

/* Under er mobilview css */

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  @media screen and (max-width: 922px) {
    .grid-container {
        grid-template-columns: auto;
    }
    .grid-item{
        font-size: 20px;
    }
    .grid-item p {
        font-size: 18px;
    }
    body{
        font-size: 100%;  
    }
    #spilldiv{
        font-size: 25px;
        text-align: center;
        padding: 5px;
    }
    #titlediv, #controlsdiv, #p1{
        display: none;
        visibility: hidden;
    }
    @media (orientation: landscape){
    }

  }



/* Under er css relatert til spillet */

canvas {
    align-self: center;
    border:1px solid #d3d3d3;
    /* background-color: lightgray; */
    /* background-image: url(assets/examplebackground.png); */
}

#bg_spr
{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100% ; 
    width: 100%;
    /* width: 64px; */
    background-image: url(assets/examplebackground.png);
    visibility: hidden;
}

#ground_spr
{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 64px ; 
    width: 962px; 
    background-image: url(assets/rock_ground.png);
    visibility: hidden;
}

#hinder_spr
{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 64px;
    width: 64px;
    background-image: url(assets/player_1.png);
    visibility: hidden;
}

#bird_spr
{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 36px;
    width: 54px;
    background-image: url(assets/bird.png);
    visibility: hidden;
}

#daxtrot_spr
{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 96px;
    width: 256px;
    background-image: url(assets/dax.png);
    visibility: hidden;
}
#player1_spr
{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 64px;
    width: 48px;
    background-image: url(assets/player_2.png);
    visibility: hidden;
}
#player2_spr
{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 48px;
    width: 64px;
    background-image: url(assets/player_2.png);
    visibility: hidden;
}

#but1_spr
{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 73px;
    width: 146px;
    background-image: url(assets/button1.png);
    visibility: hidden;
}
#but2_spr
{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 73px;
    width: 146px;
    background-image: url(assets/button2.png);
    visibility: hidden;
}
#but1big_spr
{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 73px;
    width: 146px;
    background-image: url(assets/button2.png);
    visibility: hidden;
}
#but2big_spr
{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 73px;
    width: 146px;
    background-image: url(assets/button2.png);
    visibility: hidden;
}

button
{
    width: 20%;
    height: 10%;
    background-color: mediumslateblue;
}



  
