canvas {
    align-self: center;
    border:1px solid #d3d3d3;
    background-color: lightgray;
    /* background-image: url(examplebackground.png); */

}

button
{
    width: 20%;
    height: 10%;
    background-color: mediumslateblue;
}

#p1
{
    font-size: large;
    color: red;
}

#p2
{
    font-size: large;
    color: green;
}